body {
    background-color: #2B7A78 !important;
    color: white;
    height: 2000px;
    margin: 0;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 100px;
}

#subheading {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 22px;
    margin: 60px auto;
    max-width: 600px;
    line-height: 1,5;
}

.section {
    height: 100vh;
    width: 100%;
    position: relative;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
  }
  #sky {
    height:200px;
  }
  
  .section.visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
  }
  
  .section.hidden {
    opacity: 0;
    pointer-events: none;
    z-index: 0;
  } 

  .bottom-animation {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

#canvas {
  width: 80vw;
  margin: 0 auto;
}
.country {
    fill: rgb(218, 233, 55);
    color: rgb(218, 231, 65);
    stroke:#2B7A78;
    
  
}
.country:hover {
    fill: rgb(231, 255, 123);
    cursor: pointer;
}

.display-none {
  display: none;
}

#memorygametext {
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 16px;
    margin: 60px auto;
    max-width: 600px;
    line-height: 1,5;
}    

#selectYear {
   position: relative;
    top: 82px;
    left: 1000px;
    margin-bottom: 1px;
    z-index: 10;
    background: white;
    border-radius: 5px;
    padding:5px;
}
