body {
    background-color: #297045;
    color: white;
    height: 2000px;
    margin: 0;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




#canvas {
  width: 80vw;
  margin: 0 auto;
}
.country {
    fill: rgb(233, 140, 26);
    color: rgb(227, 171, 104);
    stroke:#297045;
    
  
}
.country:hover {
    fill: rgb(243, 182, 112);
    cursor: pointer;
}

.hidden {
  display: none;
}

